In [ ]:
from google.colab import drive
import os
from os import listdir
from os.path import isfile, join

drive.mount("/content/gdrive")
os.chdir("/content/gdrive/MyDrive/ReviewVideoSummarization")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
dataset="iPadPro"

In [ ]:
file_path="score/"+dataset+"/allscore.txt"
file1_path="score/"+dataset+"/sentiment.txt"
file2_path="score/"+dataset+"/keyword.txt"
file3_path="score/"+dataset+"/cloud.txt"
with open(file_path, 'w+') as file4, open(file1_path, 'r') as file1 , open(file2_path, 'r') as file2,open(file3_path, 'r') as file3:

    line1=file1.read().splitlines()
    line2=file2.read().splitlines()

    line3=file3.read().splitlines()
    for l1,l2,l3 in zip(line1,line2,line3):
      l2_rev=l2.split(',')[2:]
      l3_rev=l3.split(',')[2:]
    #print(line1)
      file4.writelines(str(l1)+"," +str(l2_rev[0])+","+str(l2_rev[1])+","+str(l3_rev[0]))
      file4.write("\n")

In [ ]:
import pandas as pd

In [ ]:
dataframe1 = pd.read_csv("score/"+dataset+"/allscore.txt",encoding='utf8', engine='python')

In [ ]:
dataframe1.to_csv(r"score/"+dataset+"/allscore.csv", index=None)

In [ ]:
df=pd.read_csv("score/"+dataset+"/allscore.txt",sep = ',',names=['video_no','segment','label','senti_score','g1_score','g2_score','cloud_score'])

In [ ]:
df.head(20)

    video_no  segment     label  senti_score  g1_score  g2_score  cloud_score
0          1        1  POSITIVE     0.649462    0.0000       0.0            1
1          1        2  POSITIVE     0.898488    0.4387       0.0          346
2          1        3  NEGATIVE     0.993183    0.6261       0.0          103
3          1        4  NEGATIVE     0.996610    0.5564       0.0          205
4          1        5  NEGATIVE     0.983395    0.5564       0.0          198
5          1        6  POSITIVE     0.979345    0.4611       0.0           73
6          1        7  POSITIVE     0.979184    0.0000       0.0            0
7          2        1  POSITIVE     0.965742    0.0000       0.0            0
8          2        2  POSITIVE     0.995011    1.1897       0.0          194
9          2        3  NEGATIVE     0.981910    0.0000       0.0          173
10         2        4  POSITIVE     0.975766    0.3248       0.0           93
11         2        5  NEGATIVE     0.992012    0.2406       0.0           87
12         2        6  NEGATIVE     0.913754    0.2205       0.0          110
13         2        7  NEGATIVE     0.984453    0.6333       0.0           92
14         2        8  NEGATIVE     0.993013    0.4410       0.0          130
15         2        9  POSITIVE     0.644443    0.5564       0.0           77
16         2       10  NEGATIVE     0.988522    0.0000       0.0           96
17         2       11  NEGATIVE     0.997703    0.1800       0.0          334
18         2       12  NEGATIVE     0.998092    0.4106       0.0           87
19         2       13  POSITIVE     0.966402    0.0000       0.0            0

In [ ]:
df['g1_score']=df['g1_score']/df['g1_score'].max()
df['g2_score']=df['g2_score']/df['g2_score'].max()
df['cloud_score']=df['cloud_score']/df['cloud_score'].max()
df.head()

   video_no  segment     label  senti_score  g1_score  g2_score  cloud_score
0         1        1  POSITIVE     0.649462  0.000000       NaN     0.001736
1         1        2  POSITIVE     0.898488  0.225021       NaN     0.600694
2         1        3  NEGATIVE     0.993183  0.321143       NaN     0.178819
3         1        4  NEGATIVE     0.996610  0.285392       NaN     0.355903
4         1        5  NEGATIVE     0.983395  0.285392       NaN     0.343750

In [ ]:
df['average']=df[['g1_score','g2_score','cloud_score']].mean(axis=1)
df.head(23)

,video_no,segment,label,senti_score,g1_score,g2_score,cloud_score,average
0,1,1,POSITIVE,0.649462,0.000000,NaN,0.001736,0.000868
1,1,2,POSITIVE,0.898488,0.225021,NaN,0.600694,0.412857
2,1,3,NEGATIVE,0.993183,0.321143,NaN,0.178819,0.249981
3,1,4,NEGATIVE,0.996610,0.285392,NaN,0.355903,0.320647
4,1,5,NEGATIVE,0.983395,0.285392,NaN,0.343750,0.314571
5,1,6,POSITIVE,0.979345,0.236510,NaN,0.126736,0.181623
6,1,7,POSITIVE,0.979184,0.000000,NaN,0.000000,0.000000
7,2,1,POSITIVE,0.965742,0.000000,NaN,0.000000,0.000000
8,2,2,POSITIVE,0.995011,0.610228,NaN,0.336806,0.473517
9,2,3,NEGATIVE,0.981910,0.000000,NaN,0.300347,0.150174
10,2,4,POSITIVE,0.975766,0.166598,NaN,0.161458,0.164028
11,2,5,NEGATIVE,0.992012,0.123410,NaN,0.151042,0.137226
12,2,6,NEGATIVE,0.913754,0.113100,NaN,0.190972,0.152036
13,2,7,NEGATIVE,0.984453,0.324836,NaN,0.159722,0.242279
14,2,8,NEGATIVE,0.993013,0.226200,NaN,0.225694,0.225947
15,2,9,POSITIVE,0.644443,0.285392,NaN,0.133681,0.209536
16,2,10,NEGATIVE,0.988522,0.000000,NaN,0.166667,0.083333
17,2,11,NEGATIVE,0.997703,0.092327,NaN,0.579861,0.336094
18,2,12,NEGATIVE,0.998092,0.210607,NaN,0.151042,0.180824
19,2,13,POSITIVE,0.966402,0.000000,NaN,0.000000,0.000000
20,3,1,NEGATIVE,0.972286,0.226200,NaN,0.380208,0.303204
21,3,2,NEGATIVE,0.997161,0.436808,NaN,0.194444,0.315626
22,3,3,NEGATIVE,0.981386,0.451836,NaN,0.246528,0.349182

In [ ]:
df['rank']=df['average'].rank(ascending=False)
#df1=df.sort_values('rank')
#df.nsmallest(n=15,columns=['rank'])
df.head(15)

,video_no,segment,label,senti_score,g1_score,g2_score,cloud_score,average,rank
0,1,1,NEGATIVE,0.997299,0.000000,0.0,0.034768,0.011589,22.0
1,1,2,NEGATIVE,0.996900,0.032013,0.0,0.019868,0.017293,20.0
2,1,3,POSITIVE,0.999406,0.061558,0.0,0.006623,0.022727,19.0
3,1,4,POSITIVE,0.979932,0.000000,0.0,0.000000,0.000000,40.0
4,1,5,NEGATIVE,0.998613,0.000000,0.0,0.006623,0.002208,34.0
5,1,6,POSITIVE,0.999069,0.064026,0.0,0.021523,0.028516,14.0
6,1,7,POSITIVE,0.979184,0.000000,0.0,0.000000,0.000000,40.0
7,2,1,POSITIVE,0.997976,0.000000,0.0,0.004967,0.001656,35.0
8,2,2,NEGATIVE,0.996130,0.000000,0.0,0.011589,0.003863,28.0
9,2,3,POSITIVE,0.939310,0.000000,0.0,0.016556,0.005519,26.0
10,2,4,NEGATIVE,0.971349,0.000000,0.0,0.001656,0.000552,36.5
11,2,5,POSITIVE,0.825721,0.000000,0.0,0.041391,0.013797,21.0
12,2,6,POSITIVE,0.646170,0.061284,0.0,0.039735,0.033673,13.0
13,2,7,POSITIVE,0.999616,0.000000,0.0,0.008278,0.002759,33.0
14,2,8,POSITIVE,0.975226,0.000000,0.0,0.000000,0.000000,40.0

In [ ]:
dataframe2=pd.read_csv("score/"+dataset+"/segment.txt")

In [ ]:
dataframe2.to_csv("score/"+dataset+"/segment.csv", index=None)

In [ ]:
df2=pd.read_csv("score/"+dataset+"/segment.txt",sep = ',',names=['video_no','segment','segment_sentence'])
df2.head(20)

    video_no  segment                                   segment_sentence
0          1        1  confetti blood test in the wonderful world of ...
1          1        2  0#downloading video voice echo speaker always ...
2          1        3  1#Anushka Apna live in with structures around ...
3          1        4  2#Dubai Kuwait now what's the news today news ...
4          1        5  3#search my device as another go for control b...
5          1        6  4#Amazon echo Studio the boy next the Apple ho...
6          1        7                                                 5#
7          2        1  new Amazon pulling a brain new futuristics thi...
8          2        2  0#and while it has a is zigbee receivable thin...
9          2        3  1#near Hardware song for the new active hazard...
10         2        4  2#ok Kita good morning before you leap any con...
11         2        5  3#most complex tracks both ki gadi Fortuner mu...
12         2        6  4#11324 stereo sound what is the fire TV stick...
13         2        7  5#husband is fine sportek and really like the ...
14         2        8                                                 6#
15         3        1  this is read the Acura portion has just releas...
16         3        2  0#software is installed the third and the exac...
17         3        3  1#does have a low power mode consumer sanitary...
18         3        4  2#Aakash your flash meeting or ask questions i...
19         3        5  3#because they're probably want to kill versio...

In [ ]:
import pandas as pd
import numpy as np
concate_data=pd.concat([df,df2],axis=1)

concate_data['segment_sentence']=concate_data['segment_sentence'].str.replace('\W',' ',regex=True)
concate_data['segment_sentence'] = concate_data['segment_sentence'].str.replace('\d+', '')
#concate_data['rank']=concate_data['rank'].astype(float#)
#final_data=concate_data.drop(concate_data.iloc[:,9:11])
final_data=concate_data.sort_values(by=['rank'], ascending=True,inplace=True)
#final_data=concate_data.sort_values(by=['rank'], ascending=True)



#concate_data.nsmallest(columns=['rank'])

final_data=concate_data
#final_data.reset_index(drop=True)
print(final_data)

    video_no  segment     label  senti_score  g1_score  g2_score  cloud_score  \
32         5        4  NEGATIVE     0.992742  1.000000  1.000000     1.000000
39         5       11  NEGATIVE     0.994130  0.779486  0.489541     0.728477
33         5        5  NEGATIVE     0.992637  0.567875  0.279544     0.723510
36         5        8  NEGATIVE     0.989345  0.561773  0.421894     0.460265
30         5        2  NEGATIVE     0.994703  0.260488  0.562476     0.460265
38         5       10  POSITIVE     0.578324  0.439705  0.209658     0.475166
35         5        7  NEGATIVE     0.937728  0.199168  0.278925     0.137417
29         5        1  NEGATIVE     0.606433  0.149838  0.212457     0.233444
34         5        6  NEGATIVE     0.994577  0.164176  0.069886     0.276490
37         5        9  NEGATIVE     0.558866  0.029546  0.000000     0.367550
31         5        3  NEGATIVE     0.953855  0.033801  0.000000     0.352649
40         5       12  POSITIVE     0.990461  0.059342  0.000000     0.266556
12         2        6  POSITIVE     0.646170  0.061284  0.000000     0.039735
5          1        6  POSITIVE     0.999069  0.064026  0.000000     0.021523
18         3        4  NEGATIVE     0.538911  0.061284  0.000000     0.018212
25         4        4  NEGATIVE     0.538911  0.061284  0.000000     0.018212
16         3        2  POSITIVE     0.985908  0.062762  0.000000     0.013245
23         4        2  POSITIVE     0.985908  0.062762  0.000000     0.013245
2          1        3  POSITIVE     0.999406  0.061558  0.000000     0.006623
1          1        2  NEGATIVE     0.996900  0.032013  0.000000     0.019868
11         2        5  POSITIVE     0.825721  0.000000  0.000000     0.041391
0          1        1  NEGATIVE     0.997299  0.000000  0.000000     0.034768
22         4        1  NEGATIVE     0.973800  0.000000  0.000000     0.024834
15         3        1  NEGATIVE     0.973800  0.000000  0.000000     0.024834
17         3        3  NEGATIVE     0.990963  0.000000  0.000000     0.016556
24         4        3  NEGATIVE     0.990963  0.000000  0.000000     0.016556
9          2        3  POSITIVE     0.939310  0.000000  0.000000     0.016556
8          2        2  NEGATIVE     0.996130  0.000000  0.000000     0.011589
20         3        6  NEGATIVE     0.992363  0.000000  0.000000     0.009934
27         4        6  NEGATIVE     0.992363  0.000000  0.000000     0.009934
26         4        5  NEGATIVE     0.998133  0.000000  0.000000     0.009934
19         3        5  NEGATIVE     0.998133  0.000000  0.000000     0.009934
13         2        7  POSITIVE     0.999616  0.000000  0.000000     0.008278
4          1        5  NEGATIVE     0.998613  0.000000  0.000000     0.006623
7          2        1  POSITIVE     0.997976  0.000000  0.000000     0.004967
10         2        4  NEGATIVE     0.971349  0.000000  0.000000     0.001656
41         5       13  POSITIVE     0.966402  0.000000  0.000000     0.001656
21         3        7  POSITIVE     0.979184  0.000000  0.000000     0.000000
14         2        8  POSITIVE     0.975226  0.000000  0.000000     0.000000
6          1        7  POSITIVE     0.979184  0.000000  0.000000     0.000000
3          1        4  POSITIVE     0.979932  0.000000  0.000000     0.000000
28         4        7  POSITIVE     0.979184  0.000000  0.000000     0.000000

     average  rank  video_no  segment  \
32  1.000000   1.0         5        4
39  0.665835   2.0         5       11
33  0.523643   3.0         5        5
36  0.481311   4.0         5        8
30  0.427743   5.0         5        2
38  0.374843   6.0         5       10
35  0.205170   7.0         5        7
29  0.198580   8.0         5        1
34  0.170184   9.0         5        6
37  0.132365  10.0         5        9
31  0.128817  11.0         5        3
40  0.108633  12.0         5       12
12  0.033673  13.0         2        6
5   0.028516  14.0         1        6
18  0.026499  15.5         3        4
25  0.026499  15.5         4        4
16  0.025336  17.5         3        2
23  0.025336  17.5         4        2
2   0.022727  19.0         1        3
1   0.017293  20.0         1        2
11  0.013797  21.0         2        5
0   0.011589  22.0         1        1
22  0.008278  23.5         4        1
15  0.008278  23.5         3        1
17  0.005519  26.0         3        3
24  0.005519  26.0         4        3
9   0.005519  26.0         2        3
8   0.003863  28.0         2        2
20  0.003311  30.5         3        6
27  0.003311  30.5         4        6
26  0.003311  30.5         4        5
19  0.003311  30.5         3        5
13  0.002759  33.0         2        7
4   0.002208  34.0         1        5
7   0.001656  35.0         2        1
10  0.000552  36.5         2        4
41  0.000552  36.5         5       13
21  0.000000  40.0         3        7
14  0.000000  40.0         2        8
6   0.000000  40.0         1        7
3   0.000000  40.0         1        4
28  0.000000  40.0         4        7

                                     segment_sentence
32   bhoot dekhne ke liye Milte Hain   charging ka...
39   purandara Chha Gaya doston Agra Studio Mein J...
33   router se connect ho jaega then per likhkar k...
36   Sone Ka Bhi Ek feature ismein Diya Gaya ki Un...
30   channel ko pahli bar aap hi video dekhna hai ...
38   iska Itna Jyada strong Hai uski lagta hai eka...
35   Bhai Ki bhasha badalne ke liye setting Mein j...
29  Alexa tum log ho mujhe to hi Kahate Hain lekin...
34   light Jalti Hai vah timer ki light Nahin Mile...
37          tum kaun ho hi hi hi hi hi hi hi hi hi hi
31   Judaai picture maine bol diya tha ki nahin hi...
40   sudalai kijiega sher ki jagah Apne friends Me...
12    stereo sound what is the fire TV stick and u...
5    Amazon echo Studio the boy next the Apple hom...
18   Aakash your flash meeting or ask questions in...
25   Aakash your flash meeting or ask questions in...
16   software is installed the third and the exact...
23   software is installed the third and the exact...
2    Anushka Apna live in with structures around t...
1    downloading video voice echo speaker always j...
11   most complex tracks both ki gadi Fortuner mus...
0   confetti blood test in the wonderful world of ...
22  this is read the Acura portion has just releas...
15  this is read the Acura portion has just releas...
17   does have a low power mode consumer sanitary ...
24   does have a low power mode consumer sanitary ...
9    near Hardware song for the new active hazards...
8    and while it has a is zigbee receivable thing...
20   connect to another speaker  parrot sound in m...
27   connect to another speaker  parrot sound in m...
26   because they re probably want to kill version...
19   because they re probably want to kill version...
13   husband is fine sportek and really like the n...
4    search my device as another go for control by...
7   new Amazon pulling a brain new futuristics thi...
10   ok Kita good morning before you leap any conc...
41
21
14
6
3    Dubai Kuwait now what s the news today news h...
28

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
print(final_data['rank'].iloc[0])

In [ ]:
import itertools
import pandas as pd
def jaccard_similarity(x, y):
    """ returns the jaccard similarity between two lists """
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)
final=[]
th=.7
flag=0
length=5
final_index=[]
final_index.append(0)
final.append(final_data['rank'].iloc[0])
#print(final)
#for i in final_data.index:
summarized_text=final_data['segment_sentence'].iloc[0]
for i in range(len(final_data)):
    flag=0
    for j in final_index:
        score=jaccard_similarity(final_data['segment_sentence'][i],final_data['segment_sentence'][j])
        #print(final_data['segment_sentence'][i],final_data['segment_sentence'][j])
        #print('')
        #print(score)
        #print('')
        print(final_data['rank'].loc[i],final_data['rank'].loc[j])
        if(score>th):
          flag=1
          break
    if flag==0:
      final.append(final_data['rank'].iloc[i])
      final_index.append(i)
      summer_path="score/"+dataset+"/summerized.txt"

      fh = open(summer_path, "w+")
      summaried_text=summarized_text+" "+final_data['segment_sentence'].iloc[i]
      fh.write(summarized_text)
    if len(final)==length:
      break
print(final)
#print(summarized_text)

#print(final_data['rank'][i],final_data['segment_sentence'][i])
#print(score)

22.0 22.0
20.0 22.0
19.0 22.0
19.0 20.0
40.0 22.0
40.0 20.0
34.0 22.0
34.0 20.0
14.0 22.0
40.0 22.0
40.0 20.0
40.0 40.0
35.0 22.0
35.0 20.0
28.0 22.0
28.0 20.0
26.0 22.0
26.0 20.0
36.5 22.0
36.5 20.0
21.0 22.0
21.0 20.0
13.0 22.0
13.0 20.0
33.0 22.0
33.0 20.0
40.0 22.0
40.0 20.0
40.0 40.0
40.0 40.0
23.5 22.0
17.5 22.0
26.0 22.0
26.0 20.0
15.5 22.0
15.5 20.0
30.5 22.0
30.5 20.0
30.5 22.0
30.5 20.0
40.0 22.0
40.0 20.0
40.0 40.0
40.0 40.0
23.5 22.0
17.5 22.0
26.0 22.0
26.0 20.0
15.5 22.0
15.5 20.0
30.5 22.0
30.5 20.0
30.5 22.0
30.5 20.0
40.0 22.0
40.0 20.0
40.0 40.0
40.0 40.0
8.0 22.0
8.0 20.0
8.0 40.0
8.0 40.0
[1.0, 2.0, 4.0, 7.0, 30.5]

In [ ]:
final_data.index